{% extends "html/layout.html" %}
{% load static %}
{% block title %}
<title>Password Reset</title>
{% endblock %}
    {% block user%}
        <div class="col-md-6 " style="display: visible;" id="login">
            <form action="{% url 'user_DAAS:signin' %}" class="form-container pt-2" method="POST">
                {%csrf_token%} 
                <h1 class="ms-0" style="color:white ;">Change Password</h1>
                
                <div class="mb-3 mt-4">
                <label for="exampleInputEmail1" class="form-label pass">Old Password</label>
                <input type="password" class="form-control" id="id_old_password" aria-describedby="emailHelp" name="old_password" placeholder=" Enter old password...">
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label pass">New Password</label>
                <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="Enter new password...">
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label pass">Confirm Password</label>
                <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Confirm your new password...">
                </div>
                <button type="submit" class="btn  btn-success w-100 mt-4" value="Submit">SUBMIT</button>
                    <!-- <p>
                        <span>{{login_form.email.label}}</span>
                        <span>{{login_form.email}}</span>
                    </p>
                    <p>
                        <span>{{login_form.password.label}}</span>
                        <span>{{login_form.password}}</span>
                    </p> -->

                    <!-- {% for error in login_form.errors %}
                        <p style="color:red ;">
                            {{error}}
                        </p>
                    {%endfor%} -->
                
                

            </form>
        </div>
{% endblock %}
