{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fwf</title>
</head>
<style>
    body{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url('{% static "img/leaf.jpg" %}') center top no-repeat  ;
    width: 100vw;
    height: 100%;
    background-size: 700px ;
  
  }
</style>
<body >
    <section class="S1">
      
        <div class="container-fluid me-0    "  style="background-color: red;">
          rgrrg
          <!-- style="background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url('img/leaf.jpg') center top  ;width: 100vw;height: 100%;    " -->
           <!-- <h1 class=" text-center  fontsize mt-5">Agriculture revolutionized</h1> -->
           <!-- <div style="  background-color: transparent; height: 50%;" class="d-flex justify-content-center align-items-center"> -->
            <!-- <h1 class="text-center mt-6 mb-0 fontsize">Agriculture revolutionized</h1>
            <h2 class="text-center fontsizeSub">Experience the power of a digital adivisor within your grasp.</h2>
            <div class="text-center mt-5 mb-0 "> -->
              <!-- <button class="btn btn-outline-primary btn-lg w-25  " type="button">Generate Report</button> -->
              <!-- <button class="btn btn-brown text-light  mt-5 btn-lg" type="button">Generate a Report</button>
  
            </div> -->
            <!-- <div class="text-center mt-7 ">
              <button class="btn btn-danger blur btn-sm  " type="button">
                <img src="img/messagebox.svg" alt="textbox" class="img-fluid message">
                Any inquiries? feel free to contact us</button>
  
            </div> -->
                    <!-- </div> -->
           <!-- <div style="  background-color: transparent; height: 50%;" class="d-flex justify-content-center align-items-center"> -->
             <!-- <h1 class="text-center">Experience</h1> -->
          <!-- </div> -->
           <!-- <h3 class="text-center fontsize mt-5 pt-5">Expericence the power of a digital advisor within your grasp</h3> -->
        </div>
      </section>
</body>
</html>